
    <div class="carousell">
        <div class="carousel-innerr">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-itemm">
                <img src="../../assets/images/recomended_background_image@1x.png">
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">TEDTED,APPROVED&RECOMMENDED BY</h3>
                <img src="../../assets/images/title _line_category_2@1x.png">
                <h1 class="h3-responsive">CAPITAL</h1>
                <p>"myglam app myglam app myglam app myglam app"</p>
              </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-itemm">
                <img src="../../assets/images/news_letter_background_image_home@1x.png">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-itemm">
                <img src="../../assets/images/recomended_background_image@1x.png">
            </div>
            <label for="carousel-3" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
    </div>