

    <div class="image">

      <div class="img1 mx-auto">
        <img src="../../assets/images/logo_slider_home@1x.png" width="200px" height="200px" class="img-fluid">
      </div>
      <nav class="navbar navbar-expand-lg ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="row mx-auto">

          <ul class="nav justify-content-end navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OUR SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OFFER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">MY ACCOUNT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">PRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">PL</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row margin-container1 text-center">
        <div class="col-12 para">
          <h3 class="PAMPER"> PAMPER YOURSELF PRETTY</h3>
          <div class="col-6 mx-auto">
            <p>
              Treat yourself to one signalure Treat yourself to one signalure Treat yourself to one
              signalure
              Treat yourself to one signalure Treat yourself to one signalure Treat yourself to one
              signalure

            </p>
          </div>
        </div>
        <div class="col-md-12">

          <button type="button" class="btn btn-outline-light btn-lg mt-5">I REVERSE</button>
          <!-- <div class="imgscroll"> -->
        </div>
        <div class="col-md-12 mt-3">
          <img src="../../assets/images/ic_scroll@1x.png" width="20px" height="20px" class="img-fluid">
        </div>


      </div>
    </div>

    



  

