
    <div class="image6">
      <h5 class="H6">SUBSCRIBE TO OUR NEAWSLETTER</h5>
      <p class="P6">Stay informed about us, news and events</p>
      <div class="mt-5  col-md-12 mx-auto">
        <div class="input-group mb-3 inp6">
          <input type="text" class="form-control " placeholder="Enter your e-mail address"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button type="button" class="btn btn-dark drk">Send</button>
          </div>
        </div>
      </div>
      <div class="carousel6">
        <ul class="nav justify-content navbar-collapse" id="navbarSupportedContent">
          <li class="nav-item">
            <a class="nav-link" href="#">OUR SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OFFER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MY ACCOUNT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">PRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">CONTACT US</a>
          </li>
        </ul>
      </div>

      <div class="row ">
        <div class="col-md  ph6">

          <img src="../../assets/images/ic_facebook@2x.png" width="2%" height="20px" alt="...">
          <img src="../../assets/images/ic_twitter@2x.png" width="3%" height="20px" alt="...">
          <img src="../../assets/images/ic_youtube@2x.png" width="3%" height="20px" alt="...">

        </div>
      </div>
    </div>
  