
    <div class="BACK5">
      <h5 class="EXPLORE">WE ARE CLOSE TO YOU ON</h5>
      <div class="card-title">
        <img src="../../assets/images/title _line_category_1@1x.png" width="90px" height="90px" class="img-fluid">
      </div>
      <div class="row">
        <div class="col-6">
          <img src="../../assets/images/mobile_phones@1x.png" width="700px" height="700px " class="img-fluid">
        </div>
        <div class="col-6 mx-auto">
          <div class="para5">
            <p>Polish hurry and technophile...three, tow, one ... firel!<br>
              Our app is available on your smartphones! You can also make an appointment on our mobile site. </p>
          </div>
          <img src="../../assets/images/ic_available_app_store_norml@2x.png" width="250px" height="250px"
            class="img-fluid">
          <img src="../../assets/images/ic_available_google_play_normal@2x.png" width="250px" height="250px"
            class="img-fluid">
          <div class="buttonexplore">
            <button type="button" class="btn btn-danger">EXPLORE IT</button>
          </div>
        </div>
      </div>
    </div>
  